---
---

#masthead {
  background: transparent url("img/19152616811_027fed7a0f_k.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  font-size: 21px;
  line-height: 1.52;
  // width: 100vw;
  // height: 70vh;
  padding: 80px 0;
}
#masthead.bg-0 {
  background-image: url("img/19152616811_027fed7a0f_k.jpg");
}
#masthead.bg-0 #wrapper {
  // margin-left: 60%;
}
#masthead.bg-1 {
  background-image: url("img/16915472157_234a4c7527_k.jpg");
}
#masthead.bg-2 {
  background-image: url("img/newbg.jpg");
}
#masthead.bg-3 {
  background-image: url("img/1498060_10202849352455392_946623324_o.jpg");
}
#masthead.bg-4 {
  background-image: url("img/glow tree.jpg");
}
#masthead.bg-4 #wrapper {
  // margin-left: 60%;
}
#masthead p {
  margin: 20px 0;
}
#masthead #wrapper {
  max-width: 620px;
  margin: auto;
}
#masthead #wrapper #welcome p:last-child {
  margin-bottom: 0;
}
#masthead #wrapper #welcome {
  padding: 20px 20px;
  background: rgba(255,255,255,0.9);
}
#masthead #wrapper #welcome h1 {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 10px;
}

header {
  padding-top: 15px;
}
