{{Team:Purdue/Header}}
html
	#purdue-content.purdue
		header.purdue-head
			.container
				h1 </html>{{{title}}}<html>
		article.purdue-article
			.container
				.gutter
					</html>{{{content}}}<html>
{{Team:Purdue/Footer}}
