html
	footer.purdue-footer.purdue
		.container
			.row
				.span4
					h3 Blog, Contact & More
					ul
						li Our Blog & Website: 
							a(href='http://purduebiomakers.com/') purduebiomakers.com
						li Twitter: @
							a(href='//twitter.com/purduebiomakers') purduebiomakers
						li Facebook: 
							a(href='https://www.facebook.com/pages/Purdue-Biomakers/522495097787205') Purdue Biomakers Page
						li Email: 
							a(href='mailto:purduebiomakers@gmail.com') purduebiomakers@gmail.com
				.span4
					h3 Facebook
					| <div id="fb-root"></div>
					| <div class="fb-like-box" data-href="https://www.facebook.com/pages/Purdue-Biomakers/522495097787205" data-width="220" data-height="432" data-colorscheme="light" data-show-faces="1" data-stream="0" data-header="1" data-border-color=""></div>
					| <script type='text/javascript'>
					| /* <![CDATA[ */
					| var vars = {"app_id":""};
					| /* ]]> */
					| </script>
					| <script type='text/javascript' src='http://purduebiomakers.com/content/plugins/facebook-pagelike-widget/fb.js?ver=3.6'></script>
				.span4
					h3 Tweets by @
						a(href='http://twitter.com/purduebiomakers') PurdueBiomakers
					| <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/PurdueBiomakers" data-widget-id="362744838971600897">Tweets by @PurdueBiomakers</a>
					| <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

