html
  .navbar.purdue.navbar-static-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-target='.navbar-responsive-collapse', data-toggle='collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
            span  Menu
          .nav-collapse.collapse.navbar-responsive-collapse
            ul.nav
              li.dropdown
                a.dropdown-toggle(data-toggle='dropdown', href='#')
                  | Home
                  strong.caret
                ul.dropdown-menu
                  li
                    a(href='/Team:Purdue') Home
                  li
                    a(href='/Team:Purdue/Home/Accomplishments') Accomplishments
              li.dropdown
                a.dropdown-toggle(data-toggle='dropdown', href='#')
                  | Team
                  strong.caret
                ul.dropdown-menu
                  li
                    a(href='/Team:Purdue/Team/Official_Profile') Official Profile
                  li
                    a(href='/Team:Purdue/Team/Student_Bios') Student Bios
                  li
                    a(href='/Team:Purdue/Team/Adviser_Bios') Adviser Bios
                  li
                    a(href='/Team:Purdue/Team/Purdue_University') Purdue University
              li.dropdown
                a.dropdown-toggle(data-toggle='dropdown', href='#')
                  | Project
                  strong.caret
                ul.dropdown-menu
                  li
                    a(href='/Team:Purdue/Project/Overview') Overview
                  li
                    a(href='/Team:Purdue/Project/Background') Background
                  li
                    a(href='/Team:Purdue/Project/Experimental_Design') Experimental Design
                  li
                    a(href='/Team:Purdue/Project/Data') Data
                  li
                    a(href='/Team:Purdue/Project/Results_and_Conclusions') Results and Conclusions
                  li
                    a(href='/Team:Purdue/Project/Future_Work') Future Work
              li.dropdown
                a.dropdown-toggle(data-toggle='dropdown', href='#')
                  | Parts
                  strong.caret
                ul.dropdown-menu
                  li
                    a(href='/Team:Purdue/Parts/Parts_Submitted') Parts Submitted
                  li
                    a(href='/Team:Purdue/Parts/Attributions') Attributions
              li.dropdown
                a.dropdown-toggle(data-toggle='dropdown', href='#')
                  | Notebook
                  strong.caret
                ul.dropdown-menu
                  li
                    a(href='/Team:Purdue/Notebook/Laboratory_Notebook') Laboratory Notebook
                  li
                    a(href='/Team:Purdue/Notebook/Protocols') Protocols
                  li
                    a(href='/Team:Purdue/Notebook/Safety') Safety
              li.dropdown
                a.dropdown-toggle(data-toggle='dropdown', href='#')
                  | Human Practices
                  strong.caret
                ul.dropdown-menu
                  li
                    a(href='/Team:Purdue/Human_Practices/Overview_and_Project_Impact') Overview and Project Impact
                  li
                    a(href='/Team:Purdue/Human_Practices/Outreach_to_Community') Outreach to Community
                  li
                    a(href='/Team:Purdue/Human_Practices/Outreach_to_High_School') Outreach to High School
                  li
                    a(href='/Team:Purdue/Human_Practices/Biomaker_bench') Biomaker Bench
                  li
                    a(href='/Team:Purdue/Human_Practices/Girl_Scout_Biotechnology_Badge') Girl Scoutn Biotechnology Badge
                  li
                    a(href='/Team:Purdue/Human_Practices/iGEM_Characterization_Standard') iGEM Characterization Standard
                  li
                    a(href='/Team:Purdue/Human_Practices/Follow_Us') Follow Us!
                  li
                    a(href='/Team:Purdue/Human_Practices/Safety') Safety
            ul.nav.pull-right
              li.dropdown
                a.dropdown-toggle(data-toggle='dropdown', href='#')
                  | Sponsors
                  strong.caret
                ul.dropdown-menu
                  li
                    a(href='/Team:Purdue/Sponsors/Sponsors') Sponsors
                  li
                    a(href='/Team:Purdue/Sponsors/Acknowledgements') Acknowledgements
              li
                a(href='//igem.org') iGEM
