doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		link(type='text/css', rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
		link(type='text/css', rel='stylesheet', href='style.css')
		//- meta(name="viewport", content="width=device-width, user-scalable=no")
		title Alec Gorge
	body
		#wrapper
			#welcome
				h1 oh. hello there.
				h3 this is the personal site of 
					a(href='/Alec Gorge Resume.pdf') Alec Gorge
					| .
				p.lead Alec is a moderately cool guy. He enjoys a good sandwich and  
					a(href='https://twitter.com/alecgorge') tweets
					|  from time to time (although rarely about sandwiches). He likes writing 
					a(href='https://github.com/alecgorge') open-source code
					|  and helping out at 
					a(href='http://stackoverflow.com/users/132509/alec-gorge') StackOverflow
					| . He founded 
					a(href='http://ramblingwood.com') Ramblingwood
					| , runs 
					a(href='http://tinitt.com') TINITT
					|  with 
					a(href='http://kevinlehtiniitty.com/') Kevin
					|  (he's pretty cool too, I guess) and works with a couple other startups.
				p.lead Alec creates iOS apps like 
					a(href='http://adminiumapp.com') Adminium
					| , 
					a(href='http://alecgorge.com/edline') the Unofficial Edline app
					| , 
					a(href='http://phishod.alecgorge.com/') PhishOD
					| ,  
					a(href='http://dead.alecgorge.com') Listen to the (Grateful) Dead
					|  and a couple not-yet-finished ones. People spent about 4,968,974 minutes last month using the iOS apps and websites he built. 
					a(href='/Alec Gorge Resume.pdf') He also has a pretty neat résumé
					|  if you're in to that kind of thing.
				p.lead Alec 
					a(href='http://last.fm/user/alecgorge') listens to a lot of Phish, Grateful Dead, Lotus, Sara Bareilles and Josh Garrels
					| . You may also find it interesting that he plays piano and enjoys cooking. Or you might not. It is hard to say.

		script(type='text/javascript').
			var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-27002013-1"]),_gaq.push(["_trackPageview"]),function(){var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)}()