<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>{{ site.title }}</title>

		<link rel="stylesheet" href="{{ site.url }}/assets/site.css">
		<link href="{{ site.url }}/feed.xml" rel="feed" type="application/rss+xml" title="{{ site.title }}">

		<script>
			(function(d) {
				var config = {
					kitId: 'vyo7fln',
					scriptTimeout: 3000,
					async: true
				},
				h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
			})(document);
		</script>
	</head>
	<body>
		<header>
			<a href="{{ site.url }}">
				{{ site.title }}
			</a>
		</header>

		<main>
			<article>
				<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
				<time datetime="{{ post.date }}">{{ page.date | date: '%B %-d, %Y' }}</time>

				<div>
					{{ page.content }}
				</div>
			</article>
		</main>

		<footer>
			<div class="copyright">
				Copyright &copy; 2017 <a href="{{ site.url }}">Alec Gorge</a>
			</div>
		</footer>
		<script type="text/javascript">var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-27002013-1"]),_gaq.push(["_trackPageview"]),function(){var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)}()</script>
	</body>
</html>
